@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.logo {
    max-width: 60px;
    height: auto;
}

.header {
    background-color: #1F2937;
    padding: 10px 100px 40px 100px;
}

.header-info,
.header-image {
    width: 50%;
}
.header-image img {
    width: 100%;
    height: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header ul a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 80px;
}

.header-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header-info button {
    background-color: #3882F6;
    color: white;
    padding: 6px 18px;
    border-radius: 8px;
    margin-top: 8px;
}

.boxes div {
  border: 1px solid b#3882F6;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid #3882F6;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.boxes {
    display: flex;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}