@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.logo {
    max-width: 60px;
    height: auto;
}

.header {
    background-color: #1F2937;
}

.header-image img {
    width: 50%;
    height: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header ul a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}